__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/
.venv/
venv/
ENV/
.env

# Coverage
.coverage
coverage.xml
htmlcov/

# Local IDEs
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/

# Tests
*mypy*.txt
*output*.txt
*test*.txt
*linter*.txt
/pytest_homeassistant_custom_component
out.txt
